/*Animation*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes shake {

  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

/*Fonts
===============================*/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Light.woff2") format("woff2"),
    url("../fonts/SourceSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Black.woff2") format("woff2"),
    url("../fonts/SourceSansPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Big John";
  src: url("../fonts/BigJohn-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*Global Styles
=========================================*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  line-height: 1.8;

  color: #81868e;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/*Section
=========================*/
.section {
  padding: 80px 0 90px;
}

.section--gray {
  background-color: #f3f3f3;
}

.section__title {
  font-family: "Source Sans Pro", serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.2em;

  text-transform: uppercase;

  text-align: center;
}

.section__subtitle {
  max-width: 460px;
  margin: 0 auto;
  padding: 30px 0 50px;

  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;

  text-align: center;
}

/*Icons
===============================*/
.icon__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;
  height: 52px;
  background-color: #81868e;

  border-radius: 50%;
  cursor: pointer;
}

.icon__item:hover {
  background-color: #19bd9a;
}

/*Button
==============================*/
.button {
  padding: 9px 30px;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1em;
  background: transparent;

  border-radius: 18px;

  cursor: pointer;
  transition: color 0.3s linear;

  outline: none;
}

.button:hover,
.button :focus {
  color: rgba(99, 96, 96, 1);
}

.button:active {
  color: rgba(99, 96, 96, 0.7);
}

.social__list {
  display: flex;
  z-index: 6;
}

.social__item {
  margin: 0 5px;
}

.social__icon {
  fill: #19bd9a;
}

.social__icon:hover {
  fill: #148bd0;
}

.social__icon:active {
  fill: #f92a3d;
}

/*Main logo
================================*/
.main-logo {
  font-family: "Big John", sans-serif;
  font-size: 25px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0;

  transition: opacity 0.2s linear;
}

.main-logo:hover {
  opacity: 0.7;
}

/*Header
=============================*/
.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding-top: 40px;
  z-index: 2;
}

.header.fixed {
  position: fixed;
  background-color: #19bd9a;
  padding: 15px 0;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header__logo {
  color: #ffffff;
}

.burger {
  display: none;
  padding: 6px 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s linear;
  outline: none;
}

.burger__item {
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  font-size: 0;
  color: transparent;
  background-color: #ffffff;
}

.burger__item:before,
.burger__item:after {
  content: "";
  position: absolute;
  left: 0;

  width: 100%;
  height: 3px;

  background-color: #ffffff;

  z-index: 1;
}

.burger__item:before {
  top: -6px;
}

.burger__item:after {
  top: 6px;
}

.burger:hover {
  opacity: 0.7;
}

.burger--close .burger__item {
  background-color: transparent;
}

.burger--close .burger__item::before {
  transform: rotate(45deg);
  top: 0;
}

.burger--close .burger__item::after {
  transform: rotate(-45deg);
  top: 0;
}

/*Nav*/
.nav {
  display: flex;
  font-size: 16px;
  line-height: 1;
}

.nav__link {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 22px;
  color: #ffffff;

  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 17px;

  transition: opacity 0.2s linear, border-top-color 0.2s linear,
    border-bottom-color 0.2s linear, border-right-color 0.2s linear,
    border-left-color 0.2s linear;
}

.nav__link:hover,
.nav__link:focus {
  border: 1px solid rgba(255, 255, 255, 1);
}

.nav__link:active {
  opacity: 0.7;
}

/*Intro
=============================*/
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background: url("../img/intro-bg.jpg") center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 630px;
  margin: 0 auto;

  color: #ffffff;
}

.intro__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.intro__subtitle {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;

  text-align: center;
}

.intro__link {
  position: absolute;
  left: calc(50% - 18px);
  bottom: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  background-color: #19bd9a;

  border-radius: 50%;
  transition: background-color 0.3s linear;
}

.intro__link:hover,
.intro__link:focus {
  background: #148bd0;
}

.intro__link:focus {
  background: rgba(20, 139, 208, 0.7);
}

.intro__link-img {
  display: block;
  width: 12px;
  height: 7px;
}

/*About-us
======================================*/
.about-us__inner {
  display: flex;
  justify-content: space-between;
  padding: 80px 160px 56px;
}

.about-us__title {
  font-family: "Source Sans Pro", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 3;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.about-us__text {
  max-width: 470px;
  letter-spacing: 0.05em;
}

.about-us__button {
  margin-top: 50px;
  color: #333b46;
  border: 1px solid #333b46;
}

.about-us__button:hover,
.about-us__button :focus {
  color: #19bd9a;
}

.about-us__button:active {
  color: rgba(24, 198, 161, 0.7);
}

/*Details
===================================*/
.details {
  padding: 0 70px;
}

.details__icons {
  display: flex;
  justify-content: center;
}

.details__icon {
  margin: 0 13px;
}

.details__title {
  font-size: 20px;
  font-weight: 400;

  line-height: 5;
  letter-spacing: 0.04em;

  color: #464646;
}

.details__text-wrapper {
  display: flex;
  justify-content: space-between;
}

.details__text--first-column {
  width: 40%;
  max-width: 332px;
  margin-right: 100px;
}

.details__text--second-column {
  width: 60%;
  max-width: 598px;
  padding-right: 30px;
}

.details__text {
  font-size: 16px;
  letter-spacing: 0.05em;
}

.text--green {
  font-weight: 700;
  color: #19bd9a;
}

/*Features
===================================*/
.section--features {
  padding-bottom: 0;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  position: relative;
  width: 16.666667%;
  height: 320px;
  overflow: hidden;
  flex-shrink: 1;

  cursor: pointer;
  transition-duration: 0.5s;
}

.feature__img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;

  height: 320px;

  z-index: 1;

  transform: translate3d(-50%, -50%, 0);
}

.feature__content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.85);
  transition: opacity 0.2s linear;
}

.feature__title {
  font-family: "Source Sans Pro", serif;
  font-size: 20px;
  font-weight: 400;

  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.2em;

  color: #ffffff;
}

.feature__item:hover .feature__content {
  opacity: 0;
}

.features__footer {
  position: relative;
  background-image: url("../img/features/features-bg.jpg");
  background-position: center;
  background-size: cover;
}

.features__footer .container {
  position: relative;
}

.features__footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(11, 209, 167, 0.85);
}

.features__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 70px;

  z-index: 2;
}

.features__text {
  font-size: 20px;
  line-height: 1.3;
  color: #ffffff;
}

.features__button {
  color: #ffffff;
  border: 1px solid #ffffff;
}

/*Our Services
====================================*/
.services {
  display: flex;
  justify-content: space-between;

  padding: 0 70px;
}

.services__icon {
  margin: 9px 0;
}

.service__content {
  max-width: 450px;
  padding-left: 45px;
}

.service__title {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.service__text {
  margin: 16px 0;
  font-size: 16px;
}

.diagrams {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diagram__item {
  position: relative;
  width: 124px;
  margin-left: 20px;
  margin-right: 20px;
}

.diagram__image {
  position: absolute;
}

.diagram__value {
  padding-top: 48px;
  font-size: 25px;
  line-height: 1;
  text-align: center;
  z-index: 2;
}

.diagram__title {
  margin-top: 70px;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

/*Quotes
=================================*/
.quotes {
  padding-bottom: 95px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #1f1f1f;
  background-image: url("../img/quotes-bg.jpg");
  background-position: center 0;
  background-size: cover;
}

.quotes__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.quotes__img-wrapper {
  margin-top: -38px;
}

.quotes__title {
  padding-top: 70px;
  padding-bottom: 30px;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;

  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.quotes__text {
  width: 100%;
  max-width: 600px;
  padding-bottom: 20px;

  font-size: 16px;
  letter-spacing: 0.05em;
}

.quotes__author {
  font-size: 14px;
  text-transform: uppercase;
}

.quotes__author .text--green {
  font-weight: 400;
}

/*Portfolio
================================*/
.portfolio__nav {
  display: flex;
  justify-content: space-between;

  max-width: 570px;
  margin: 0 auto 70px;
}

.portfolio__nav-link {
  position: relative;
  font-size: 16px;
  color: rgba(70, 70, 70, 1);
  transition: 0.3s linear;
}

.portfolio__nav-link:hover {
  color: rgba(70, 70, 70, 0.5);
}

.portfolio__nav-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 70%;
  height: 2px;
  margin: 0 auto;
  bottom: -10px;
  left: 15%;
  border-top: 1px solid #19bd9a;
  border-bottom: 1px solid #8ddac9;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.portfolio__nav-link.active::after {
  opacity: 1;
}

.portfolio__nav-link.active:hover {
  color: rgba(70, 70, 70, 1);
}

/*Portfolio-Grid */
.portfolio__list {
  padding-left: 25px;
  padding-right: 25px;
}

.grid-item {
  width: 280px;
  padding: 5px;
  font-size: 0;
}

.portfolio__item {
  position: relative;
}

.portfolio__content {
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 270px;
  padding-left: 25px;
  font-size: 14px;

  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.portfolio__item:hover .portfolio__content {
  opacity: 1;
}

.portfolio__title {
  position: relative;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.2em;

  color: #19bd9a;
  text-transform: uppercase;
}

.portfolio__title::after {
  content: "";

  position: absolute;
  bottom: -20px;
  left: 0;
  display: block;
  width: 23px;
  height: 1px;
  background-color: #19bd9a;
}

.portfolio__text {
  font-size: 14px;
  margin-top: 50px;
}

.portfolio__icons {
  display: flex;
  margin-top: 20px;
}

.portfolio__icon {
  width: 29px;
  height: 29px;
  margin-right: 7px;

  background-color: #000000;
}

.portfolio__footer {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1110px;
  margin: 35px auto 0;
  padding-bottom: 55px;
  padding-top: 50px;

  background-image: url("../img/portfolio/portfolio-bg-small.jpg");
  background-position: center;
  background-size: cover;
}

.portfolio__footer-text {
  font-size: 20px;
  line-height: 1.3;
  color: #ffffff;
}

.portfolio__button {
  margin: 25px auto 0;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/*Team
============================*/
.team {
  padding: 0 70px;
}

.team__item {
  display: flex;
  justify-content: space-between;
}

.team__image-wrapper {
  position: relative;
  font-size: 0;
  width: 285px;
  height: 364px;
}

.team__image {
  max-width: 100%;
  height: 364px;
}

.team__image-content {
  opacity: 0;
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s linear;
}

.team__item:hover .team__image-content {
  cursor: pointer;
  opacity: 1;
}

.team__image-content::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.team__content {
  max-width: 430px;
  padding-right: 50px;
}

.team__item-name {
  position: relative;

  margin-top: 25px;

  font-size: 20px;
  font-weight: 400;

  text-align: right;
  color: #000000;
}

.team__item-name::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -50px;

  display: block;
  width: 3px;
  height: 42px;
  background-color: #19bd9a;
}

.team__item-position {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: right;
}

.team__item-text {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: right;
}

.skills {
  display: flex;
  flex-direction: column;

  max-width: 330px;
  margin-left: auto;
}

.skill__item {
  margin-bottom: 25px;
}

.skill__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;

  text-transform: uppercase;
}

.skill__title {
  font-weight: 300;
}

.skill__scale {
  position: relative;

  width: 100%;
  height: 4px;

  background-color: #e1e4e9;
}

.skill__scale--branding::after,
.skill__scale--design::after,
.skill__scale--interface::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  height: 4px;

  background-color: #19bd9a;
}

.skill__scale--branding::after {
  width: 80%;
}

.skill__scale--design::after {
  width: 65%;
}

.skill__scale--interface::after {
  width: 75%;
}

/*Slider
===========================================*/
.team .slick-dots {
  display: flex;
  justify-content: center;
  padding: 45px 0 0;
  margin: 0 auto;
}

.slick-dots button {
  width: 10px;
  height: 10px;
  margin: 5px;
  padding: 0;

  background: #ffffff;
  border: 1px solid #19bd9a;
  border-radius: 50%;

  font-size: 0;
  color: transparent;
  cursor: pointer;
  outline: none;
}

.slick-active button {
  background-color: #19bd9a;
}

/*Contact-Us
================================*/
.contact-us {
  padding: 55px 0;
  background-color: #1f1f1f;
  background-image: url("../img/contact-us-bg.jpg");
  background-position: center;
  background-size: cover;

  color: #ffffff;
  text-align: center;
}

.contact-us__text {
  padding-bottom: 22px;

  font-size: 20px;
  letter-spacing: 0.04em;
}

.contact-us__button {
  color: #ffffff;
  border: 1px solid #ffffff;
}

/*Testimonials
==========================*/
.testimonials {
  position: relative;
  padding: 0 10px;
}

.testimonials .slick-dots {
  position: absolute;
  bottom: 60px;
  left: calc(50% - 30px);
  display: flex;
  justify-content: center;
  padding: 45px 0 0;
  max-width: 60px;
  margin: 0 auto;
}

.testimonials__item {
  position: relative;
  padding: 50px 100px 100px 0;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
}

.testimonials__author-avatar {
  position: absolute;
  top: 50px;
  left: 100px;
}

.testimonials__content {
  margin-left: 300px;
}

.testimonials__text {
  padding-bottom: 25px;
}

.testimonials__author-name {
  font-size: 16px;
  font-weight: 700;

  text-transform: uppercase;
  color: #19bd9a;
}

.testimonials__author-position {
  text-transform: uppercase;
  color: #464646;
}

/*News
==============================*/
.news {
  padding: 70px 0 100px;

  background-color: #000000;
  background-image: url("../img/news-bg.jpg");
  background-size: cover;
  background-position: center center;
}

.section__title--news {
  text-align: left;
  color: #ffffff;
}

.section__subtitle--news {
  margin: 0;

  text-align: left;
  color: #b2b3b3;
}

.news__item {
  margin-left: 70px;
}

.news__title {
  font-size: 20px;
  font-weight: 400;

  color: #e1e4e9;
  letter-spacing: 0.04em;
}

.news__author {
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.news__description {
  padding-top: 10px;
  padding-bottom: 50px;

  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.1em;
}

.news__text {
  max-width: 600px;
  padding-bottom: 40px;

  letter-spacing: 0.05em;
  color: #81868e;
}

.news__button {
  padding: 0;
  background: transparent;
  border: none;

  font-size: 16px;
  color: #81868e;
  outline: none;

  cursor: pointer;
}

.news__button:hover,
.news__button:focus {
  color: #ffffff;
}

.news__button:active {
  color: #19bd9a;
}

/*Prices
============================*/
.prices {
  display: flex;
  justify-content: space-between;

  padding: 0 170px;
}

.prices__item {
  position: relative;
  width: 230px;
  cursor: pointer;
}

.price-box__header {
  font-size: 20px;
  font-weight: 700;

  letter-spacing: 0.04em;
  line-height: 3.4;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #19bd9a;
  border: 1px solid transparent;
}

.price-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 235px;

  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-top: transparent;
}

.price__value {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 43px;
  font-weight: 900;
  line-height: 1;
  color: #19bd9a;
}

.price__parameter {
  padding-top: 5px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #81868e;
}

.price__content {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.prices__item:hover .price__content {
  opacity: 1;
}

.price-service__list {
  padding-top: 25px;
  padding-left: 35px;
}

.price-service__item {
  line-height: 2.15;
  letter-spacing: 0.05em;
}

.price__button {
  width: 100%;
  padding: 0;
  border: none;
  background-color: #19bd9a;
  color: #ffffff;
  font-size: 16px;
  line-height: 68px;
  cursor: pointer;
}

.price__button:hover,
.price__button:focus {
  background-color: #148bd0;
}

.price__button:active {
  background-color: #f92a3d;
}

/*Form
=======================*/
.input,
.form__textarea {
  padding-left: 22px;
  padding-right: 22px;

  line-height: 40px;

  color: #737576;

  border: 1px solid #81868e;
  background-color: transparent;
  outline: none;
}

.input:focus,
.form__textarea:focus {
  border-color: #19bd9a;
}

.form__button {
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #19bd9a;
  border: 0;
  cursor: pointer;
  outline: none;
}

.form__button:hover,
.form__button:focus {
  background-color: #148bd0;
}

.form__button:active {
  background-color: #f92a3d;
}

.form__wrapper {
  padding: 0 115px;
}

.form__top-wrapper {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.form__input {
  width: 30%;
}

.form__textarea {
  width: 100%;
  margin-bottom: 30px;
}

.form__button {
  width: 100%;
}

/*Subscribe us
==========================*/
.subscribe {
  padding: 70px 0 100px;

  background-color: #000000;
  background-image: url("../img/subscribe-us-bg.jpg");
  background-position: center;
  background-size: cover;
}

.subscribe__inner {
  max-width: 520px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.subscribe__input {
  width: 70%;
}

.subscribe__button {
  width: 150px;
}

/*Contacts
================================*/
.contacts {
  display: flex;
  justify-content: space-between;

  padding: 0 115px;
}

.contact__item {
  width: 30%;
}

.contact__item:hover {
  -webkit-box-shadow: 1px 1px 0 0 rgba(231, 231, 231, 1);
  -moz-box-shadow: 1px 1px 0 0 rgba(231, 231, 231, 1);
  box-shadow: 1px 1px 0 0 rgba(231, 231, 231, 1);
}

.contact__item:hover .contact__icon-wrapper {
  opacity: 1;
}

.contact__icon {
  cursor: pointer;
}

.contact__img-wrapper {
  position: relative;
  font-size: 0;
}

.contact__img {
  max-width: 100%;
}

.contact__icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
}

.contact__title {
  padding: 30px 0 22px;
  font-size: 16px;
  font-weight: 400;

  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #464646;
}

.contact__text {
  padding-bottom: 28px;
  line-height: 1.4;

  text-align: center;
  text-transform: uppercase;
  color: #81868e;
}

.contact__email,
.contact__tel {
  display: block;
  width: 100%;

  color: #81868e;
}

/*Map
=============================*/
.map {
  line-height: 0;
}

/*Footer
=============================*/
.main-footer {
  background-color: #f3f3f3;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 80px 0 80px;
}

.footer__logo {
  color: #323a45;
  padding-bottom: 15px;
}

.footer__copyright {
  padding-top: 10px;
  padding-bottom: 30px;

  letter-spacing: 0.05em;
  color: #81868e;
}

/*MEDIA*/
@media (max-width: 1600px) {

  /*features*/
  .features {
    max-width: 1300px;
    margin: 0 auto;
  }

  .feature__item {
    width: 33.33333%;
  }
}

@media (max-width: 1200px) {

  /*header*/
  .header__inner {
    padding: 0 20px;
  }

  /*portfolio*/
  .portfolio__list {
    max-width: 840px;
    margin: 0 auto;
    padding: 0;
  }

  /*news*/
  .news {
    padding-left: 15px;
    padding-right: 15px;
  }

  /*prices*/
  .prices {
    padding: 0 70px;
  }
}

@media (max-width: 1024px) {

  /*about-us*/
  .about-us__inner {
    padding: 50px 60px;
  }

  .about-us__text {
    padding-right: 15px;
  }

  /*details*/
  .details {
    padding: 0 30px;
  }

  .details__text--first-column {
    margin-right: 50px;
  }

  .details__text--second-column {
    padding-right: 0;
  }

  /*features*/
  .features__content {
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  .features__text {
    width: 100%;
    text-align: center;
  }

  .features__button {
    margin-top: 20px;
  }

  /*services*/
  .services {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 25px;
  }

  .service__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
    padding-left: 25px;
  }

  .diagrams {
    margin: 20px auto 0;
  }

  /*quotes*/
  .quotes__img-wrapper {
    width: 330px;
  }

  .quotes__img-wrapper img {
    max-width: 100%;
    height: auto;
  }

  /*team*/
  .team {
    padding: 0 15px;
  }

  .team__content {
    padding-right: 15px;
    padding-left: 15px;
  }

  .team__item-name::after {
    display: none;
  }

  /*testimonials*/
  .testimonials {
    padding: 0 20px;
  }

  .testimonials__item {
    padding: 40px 25px 50px 0;
  }

  .testimonials__author-avatar {
    top: 40px;
    left: 25px;
  }

  .testimonials__content {
    margin-left: 175px;
  }

  .testimonials .slick-dots {
    bottom: 15px;
  }

  /*contacts*/
  .contacts {
    padding: 0 25px;
  }

  /*form*/
  .form__wrapper {
    padding: 0 25px;
  }
}

@media (max-width: 900px) {

  /*header*/
  .header.header-bg {
    background-color: #19bd9a;
  }

  .nav {
    position: absolute;
    top: 100%;
    right: 0;

    display: none;
    flex-direction: column;

    width: 100%;
    text-align: right;

    background-color: #19bd9a;
  }

  .nav.show {
    display: flex;
  }

  .nav__link {
    padding: 12px 40px;
    color: #ffffff;

    border: none;
    border-radius: 0;
    text-transform: uppercase;
  }

  .nav__link:hover,
  .nav__link:focus {
    border: none;
    background-color: #148bd0;
  }

  .nav__link:active {
    background-color: #f92a3d;
    opacity: 1;
  }

  .burger {
    display: block;
  }

  /*features*/
  .features {
    max-width: 100%;
  }

  .feature__item {
    width: 50%;
  }

  /*portfolio*/
  .portfolio__nav {
    margin-bottom: 40px;
  }

  .portfolio__list {
    max-width: 560px;
  }

  /*prices*/
  .prices {
    padding: 0 20px;
  }

  /*contacts*/
  .contact__text {
    font-size: 12px;
  }
}

@media (max-width: 767px) {

  /*about-us*/
  .about-us__inner {
    flex-direction: column;
    padding: 30px 10px;
  }

  .about-us__text-wrapper {
    text-align: center;
    order: 2;
  }

  .about-us__img-wrapper {
    order: 1;
    text-align: center;
  }

  .about-us__text {
    max-width: 100%;
    padding: 0 10px;
  }

  /*details*/
  .details {
    padding: 0 10px;
  }

  .details__title {
    text-align: center;
  }

  .details__text-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .details__text--first-column {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 10px;
  }

  .details__text--second-column {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 20px 10px 0;
  }

  .details__text {
    font-size: 14px;
  }

  /*services*/
  .services__icon {
    display: flex;
    justify-content: center;
    margin: 0 10px 15px;
  }

  .services {
    padding: 0 15px;
  }

  .service__content {
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
  }

  .diagrams {
    margin: 20px auto 0;
  }

  /*quotes*/
  .quotes__inner {
    flex-direction: column;
  }

  .quotes__img-wrapper {
    order: 1;
    width: auto;
    margin: -38px auto 10px;
  }

  .quotes__content {
    order: 2;
  }

  .quotes__img-wrapper img {
    max-width: 100%;
    height: auto;
  }

  /*team*/
  .team__content {
    max-width: 100%;
    padding-right: 35px;
    padding-left: 35px;
  }

  .team__item {
    flex-direction: column;
    align-items: center;
  }

  .team__item-name,
  .team__item-position,
  .team__item-text {
    text-align: center;
  }

  .skills {
    max-width: 100%;
    margin: 0 auto;
  }

  /*news*/
  .news {
    padding: 50px 10px 50px;
  }

  .section__title--news {
    text-align: center;
  }

  .section__subtitle--news {
    text-align: center;
    padding: 24px 15px 30px;
    max-width: 100%;
  }

  .news__item {
    margin-left: 0;
    padding: 0 20px;
  }

  .news__title {
    font-size: 14px;
  }

  .news__description {
    padding-bottom: 25px;
  }

  .news__text {
    max-width: 100%;
    text-align: center;
    padding-bottom: 30px;
  }

  .news__button {
    display: block;
    margin: 0 auto;
    font-size: 14px;
  }

  /*prices*/
  .prices {
    flex-wrap: wrap;
    padding: 0 15px;
  }

  .prices__item {
    width: 100%;
    max-width: 320px;
    margin: 20px auto;
  }

  /*form*/
  .form__wrapper {
    padding: 0 25px;
  }

  .form__top-wrapper {
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .form__input {
    width: 100%;
    margin-bottom: 30px;
  }

  /*subscribe*/
  .subscribe__inner {
    padding: 0 30px;
    flex-wrap: wrap;
  }

  .subscribe__input {
    width: 100%;
  }

  .subscribe__button {
    width: 100%;
    margin-top: 20px;
  }

  /*contacts*/
  .contacts {
    flex-wrap: wrap;
  }

  .contact__item {
    width: 80%;
    max-width: 400px;
    margin: 0 auto 20px;
  }

  .contact__img {
    width: 100%;
  }

  .contact__text {
    font-size: 14px;
  }
}

@media (max-width: 600px) {

  /*portfolio*/
  .section--portfolio {
    padding-bottom: 15px;
  }

  .portfolio__nav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .portfolio__nav-link {
    margin-bottom: 10px;
  }

  .portfolio__nav-link::after {
    bottom: -4px;
  }

  .portfolio__list {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .portfolio-item {
    margin: 0 auto;
  }

  .portfolio__footer {
    padding-bottom: 20px;
    padding-top: 30px;
  }

  .portfolio__footer-text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 520px) {

  /*intro*/
  .intro__inner {
    padding: 0 10px;
  }

  .intro__title {
    font-size: 26px;
  }

  .intro__subtitle {
    font-size: 14px;
  }

  /*features*/
  .feature__item {
    width: 100%;
  }

  .features__content {
    padding: 20px 10px;
  }

  .features__text {
    font-size: 14px;
  }

  .features__button {
    margin-top: 20px;
  }

  /*services*/
  .services__icon {
    margin: 0 10px 10px;
  }

  .services {
    padding: 0 10px;
  }

  .service__text {
    font-size: 14px;
  }

  .diagrams {
    flex-direction: column;
    margin: 20px auto 0;
  }

  .diagram__item {
    margin-bottom: 30px;
  }

  .diagram__item:last-child {
    margin-bottom: 0;
  }

  /*quotes*/
  .quotes__img-wrapper {
    max-width: 300px;
  }

  .quotes__content {
    text-align: center;
  }

  .quotes__text {
    font-size: 14px;
  }

  /*team*/
  .team__content {
    padding-right: 10px;
    padding-left: 10px;
  }

  /*contact-us*/
  .contact-us__text {
    font-size: 14px;
  }

  /*testimonials*/
  .testimonials {
    padding: 0 20px;
  }

  .testimonials__item {
    padding: 190px 25px 35px;
  }

  .testimonials__author-avatar {
    top: 25px;
    left: calc(50% - 65px);
  }

  .testimonials__content {
    margin-left: 0;
    text-align: center;
  }

  .testimonials .slick-dots {
    bottom: 10px;
  }

  /*contacts*/
  .contact__item {
    width: 100%;
  }

  /*form*/
  .form__wrapper {
    padding: 0 20px;
  }
}